/* General/For Everything */ /* DO NOT TOUCH THIS CSS - YOU WILL BE SAD */
/* General --> then media query */
/* the LAST thing is enforced --> cascading */

:root {
    /* In the style.css file, add the following code for a default, (light) theme: */
    --background-color: var(--ebb);
    --text-color: var(--rich-black);
    /* End experimental dark mode code */
    
    --mule-fawn: #8c5c2c;
    --pharlap: #ac847c;
    --tuscany: #ca6937;
    --diserria: #e2924c;
    --cognac: #a5321a;
    --wine-berry: #562238;
    --martinique: #312444;
    --port-gore: #28244c;
    --ebb: #ebe2e1;

  /* Accessibility Coloring */
  --rich-black: #0D1B2A;
  --black-chocolate: #1F1300;
  
}

*{
  box-sizing: border-box;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

input {
  color: var(--black-chocolate)
}

/* Implementing Dark Mode */
/* Note: Dark Mode Implementation started 4/21/2023, followed from: https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */

/* Now that the scaffolding for the default (light) theme is set up, variables for the dark mode theme can be added.
Add the following to style.css above the body declaration: */
[data-theme="dark"] {
  background-color: #1F1300;
}
/* The [data-theme="dark"] theme can be toggled on/off (we’ll cover how to do this in the section below).
The default appearance will be the light theme. This is why the theme is configured to the :root class and not a separate [data-theme="light"] class. */

.dark-mode-content {
  color:var(--black);
  background: var(--cosmic-latte);
  border:var(--border);
}


/* END DARK MODE */

/* Container Styling Corrected 2023 *//* For the page outline */
.content-container {
  width: auto;
  margin: 20px;
  /* padding: 3px; */
  /* border-top: solid 5px var(--indigo-dye);
  border-right: solid 5px var(--indigo-dye);
  border-bottom: solid 5px var(--indigo-dye);
  border-left: solid 5px var(--indigo-dye); */
  
  color: var(--rich-black);
}

/* for a section around the content itself, now mobile responsive --> REPLACE ALL SECTIONS from section to 2 */
/* you have to assign a color class as well if you use this */
.content-container-2 {
  /* width: 75%;  */     /* works up to laptop 1024 */
  width: auto; /* attempting for 2560 desktop */
  /* px --> em is 10% of the value */
  margin: 30px;
  padding: 20px;
  border-top: solid 5px var(--medium-purple);
  border-right: solid 5px var(--medium-purple);
  border-bottom: solid 5px var(--medium-purple);
  border-left: solid 5px var(--medium-purple);
  /* background-color: var(--background-color); */
  /* background-color: var(--cosmic-latte); */
  color: var(--rich-black);
  list-style-type: none;
  text-align: left;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* for actual enclosed content, such as the index headers/links, and titles of pages */
.content-container-3 {
  margin: 30px;
  padding: 20px;
  border-top: solid 5px var(--indigo-dye);
  border-right: solid 5px var(--indigo-dye);
  border-bottom: solid 5px var(--indigo-dye);
  border-left: solid 5px var(--indigo-dye);
  /* background-color: var(--light-steel-blue); */
  text-align: center;
  color: var(--rich-black);
}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: var(--cornflower-blue);
  height:2px;border-width:0;color:gray;background-color:gray
} 

/* for FORMS --> */
.mini-container-form {
  margin: auto;
  padding: 5px;
  text-align: center;
}

/* for the headers in the footer */

/* Regular Styling- DO NOT TOUCH */
/* Anything above and below have been coded and are new in 2023 */
.form-container {
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: var(--rich-black);
  /* margin-right: 5em; */
}

.form-container input[type=text],
.form-container input[type=number],
.form-container input[type=email],
.form-container textarea,
.form-container input[type=password],
.form-container label,
.form-container select {
  box-sizing: border-box;
  width: 75%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: .2em;
  color: var(--black-chocolate);
  display: flex;
  justify-content: space-evenly;
}

.no-outline:focus {
  outline: none;
}


.nav-button, input[type="submit"]{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 3rem;
  border-radius: .5rem;
  color: var(--medium-purple);
  background-color: var(--naples-yellow);
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-button:hover{
  background: solid 5px var(--rich-black);
  background-color: var(--gold-crayola);
}

/* OG 2022 */
/* delete alert buttons */
.delete-button, button[type="submit"] {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding:.9rem 1.5rem;
  border-radius: .5rem;
  background-color: var(--hot-pink);
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 500;
}

.yellow-button {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding:.9rem 1.5rem;
  border-radius: .5rem;
  background-color: var(--medium-champagne);
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}

/* for the section containing the button */
.center-button {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} 


/* PHOTO GALLERY */
/* Cards for People */
.card {
  box-shadow: 0 4px 8px 0;
  transition: 0.3s;
  width: 60%;
  max-width: 300px;
  padding: 2.5%;
  border-radius: 5px;
  align-content: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: all 0.25s ease-in-out;
}


/* Card Flipping: https://jefferson-cuartas.medium.com/how-to-create-a-flip-card-effect-using-javascript-767dd945210c */

.main-container {
  position: relative;
  background-color: var(--cosmic-latte);
  background: none;
  box-shadow: 0 4px 8px 0;
  transition: 0.3s;
  width: 80%;
  height: 550px;
  padding: 2.5%;
  border-radius: 5px;
  align-content: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  overflow-y: scroll;
  overflow-x: auto;
  /* top: 50%;
  left: 50%; */
  transform: translate(0%, 0%);
}

.question-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  /* padding: 0.75%; */
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  align-content: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--medium-champagne);
  color: var(--rich-black);
  text-align: center;
  transform: rotateY(180deg);
  font-size: 1rem;
}

.flipCard {
  transform: rotateY(180deg);
}

.card-nudge {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card:hover {
box-shadow: 0 8px 16px 0;
}

.card-container {
  padding: 5px 10px;
  width: 60%;
/* 25 - good for mobile, not desktop, maybe if more cards? */
/* 57 - the size that works on both*/
  height: 10%;
  text-align: center;
  font-size: 1.45rem;
  color: var(--rich-black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Font Awesome */
fa-brands {
  background-color: var(--pharlap);
  color: var(--cognac);
  list-style-type: none;
  text-align: center;
  padding: 0%;
  width: 30%;
  height: 40%;
}

fa-solid {
  color: var(--pharlap);
}

/* to add the sticky element */
.sticky {
  position: fixed;
  top: 0; 
  width: 100%;
  /* padding-top: 20px; */
}

.nav.bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid black;
}

.nav.bar .search-container {
  float: right;
}

.nav.bar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:var(--ebb);
  background-color: grey;
  font-size: 17px;
  /* border: 1px solid var(--ebb); */
  border: none;
  cursor: pointer;
}


.nav.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav.bar li {
  /* display: inline-block; */
  float: left;
  padding: 5px;
  color: var(-ebb);
  font-family: 'Futura', sans-serif;
}

.nav.bar .hidden-bar {
  padding-left: 100px;
}

/* .nav.bar li:last-child {
    float: right;
  } */
/* for the headers in the footer */
.mini-container {
  margin: auto;
  padding: 10px;
  text-align: center;
  border: solid 5px var(--blue-munsell);
  background-color: var(--cosmic-latte);
  font-family: 'Futura', sans-serif;
} 

/* Scrolling */
.scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  /* left: 30px; */
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--electric-blue);
  color: var(--rich-black);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.scroll-button:hover {
  color: var(--blue-munsell);
  font-weight: bold;
}

.scroll-action {
  padding: 30px 30px 100px;
}

/* For the intermediate header in Photo Gallery */
.title-tinker {
  text-align: center;
  margin: 10px auto;
  padding: 0, 10px;
  font-style: italic;
  font-family: 'Fredericka the Great', cursive;
}

/* FOR THE P TAGS */
.center-text-paragraph {
  text-align: center;
  word-wrap: break-word;
} 

.expansion {
  font-size: 1.8rem;
}

.minor-expansion {
  font-size: 1.3rem;
}

.reduction {
  font-size: 1rem;
  text-align: left;
}

/* removes the bullet points */
.center-text-line-items > li {
  list-style-type: none;
  text-align: center;
  padding: 0%;
} 

.left-text-line-items > li {
  list-style-type: none;
  text-align: left;
  padding: 0%;
} 
/* removes the bullet points */


/* image config */
.photo-image {
  width: 40%;
  padding: 0%;
  height: 30%;
}

.photo-image-services {
  width: auto;
  height: 750px;
  padding-left: 15%;
}

.photo-image-mini {
  width: 20%;
  padding: 0%;
  height: 10%;
}

.photo-image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* link styling */

.link-styling {
  padding: 0.2%;
}

.link-styling a:link {
  color: var(--ebb);
  text-decoration: none;
}

.link-styling a:visited {
  color: var(--ebb);
  text-decoration: none;
}

.link-styling a:hover {
  color: var(--diserria);
  font-weight: bold;
}

.link-styling a:active {
  color: var(--cognac);
  /* background-color: var(--hot-pink); */
  font-weight: bold;
} 

/* Footer Links */
.link-styling-footer a:hover {
  color: var(--diserria);
  font-weight: bold;
}

.link-styling-footer a:active {
  color: var(--cognac);
  /* background-color: var(--hot-pink); */
  font-weight: bold;
} 

.bold {
  font-weight: bold;
}

.border {
  list-style-type: none;
  text-align: left;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* end stylesheet */

/* START DEBUGGING media queries - make sure that you move to the bottom re: cascading*/

/* add to mobile media */
.right-text > li {
  list-style-type: none;
  text-align: right;
  padding-right: 5%;
} 


/* Hamburger JS outside media query - works */
header {
  display: flex;
}

/* hides the menu when it's desktop */
a.menu {
  display: none;
}

/* styling the hamburger menu */
.hamburger {
  overflow: visible;
  position: relative;
  padding: 14px;
  display: flex;
  /* display: none; */
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-size: 20px;
}

/* END MEDIA QUERIES */

/* triggers mobile responsiveness but not for head or footer */
body {
  /* background-color: var(--background-color); */
  /* the gradient */
  /* tan --> dark orange --> light orange --> red orange --> red --> red purple --> purple */
  /*
  --mule-fawn, --pharlap, --tuscany, --diserria, --cognac, --wine-berry, --martinique, --port-gore
  */
  background-image: linear-gradient(to right, #8c5c2c, #ac847c, #ca6937, #e2924c, #a5321a, #562238, #312444, #28244c);
  width: 100%;
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-size: 1.4rem;
  /* height: auto; */
  /* background-image: linear-gradient(var(--electric-blue), var(--blue-munsell)); */
  color: var(--ebb);
  font-family: 'Futura', sans-serif; 
  /* addition */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* affects the header and the logo */
header {
   /* background gradient? */
  width: auto;
  border-bottom: solid 5px var(--rich-black);
  color: var(--ebb);
  font-family: 'Futura', cursive;
  display: flex;
  flex-direction: column;
  
}

.logo {
  width: 100px;
  /* height: 300px; */
}

/* .center-text */
h1 {
  text-align: center;
  margin: 10px auto;
  padding: 0, 10px;
  font-style: italic;
  font-family:  'Futura', sans-serif;
  color: var(--ebb);
} 

/* .center-text */
h2, p { 
  /* text-align: center; */
  margin: 10px auto;
  padding: 0, 10px;
  /* font-weight: bolder; */
  color: var(--ebb);
  /* font-size: 1.1rem; */
  font-family: 'Futura', sans-serif;
}



footer {
  background-color: black;
  width: 100%;
  height: auto;
  color: var(--ebb);
  /* padding-left: 2.5%; */
  font-size: 1rem;
  border-top: solid 5px var(--rich-black);
  font-family: 'Futura', sans-serif;
}

/* for card headers */
h3 {
  text-align: center;
  margin: 10px auto;
  padding: 0, 10px;
  font-style: italic;
  color: var(--ebb);
  font-family: 'Futura', sans-serif;
} 


hr { 
  /* display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; */
  border: none;
  border-top: 3px double var(--ebb);
  color: var(--ebb);
  height: 5px;
  overflow: visible;
  text-align: center;
} 

hr::after {
  /* background-color: var(--black-chocolate); */
  /* content: '§'; */
  /* Docs: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr  */
  padding: 0 4px;
  position: relative;
  top: -13px;
}

fieldset {
  display: block;
  /* border-color: var(--cosmic-latte); */
  border: 0 none;
}

.slides {
  display: none; 
  /* hides slides by default */
}

/* Position the image container (needed to position the left and right arrows) */
.arrows {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.number-text {
  color: var(--ebb);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.indicator {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--ebb);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-indicator {
  background-color: #717171;
}

/* Fading animation */
.fade-animate {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade-animate {
  from {opacity: .4} 
  to {opacity: 1}
}



/* Media Query --> specific parameters for css code to operate in */
/* Mobile Design [mobile container] */
@media screen and (min-width: 320px) and (max-width: 768px) {

/* header {
  display: block;
}   */
header .header-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
/* this is the link for the hamburger button */
a.menu {
  display: block;
  color: var(--white);
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--medium-champagne);
  color: var(--rich-black);
  text-align: center;
  transform: rotateY(180deg);
  font-size: 1rem;
}

/* Mobile Responsiveness for large items, use with content-container-2 */
.side-scroll-mobile {
  display: flex;
  overflow-y: scroll;
  overflow-x: auto;
  /* border: solid 5px var(--yellow); */
}

.mobile-container {
  max-width: 768px;
  /* margin: auto; */
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative; 
  /* display: flex; */
}

.open-sesame {
  display: none;
}

.mobile-container > .nav-bar {
  display: none;
}

.nav-bar-list {
  display: block;
  text-align: center;
  /* make titles shorter */
  flex-direction: row;
  /* used to be column for longer titles */
  align-items: flex-start;     /* items are aligned to the left */
  text-decoration: none;
}
.nav-bar-list a {
  margin: 20px 15px;
}

.mobile-container > .hamburger {
  overflow: visible;
  position: relative;
  padding: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 120px;
  width: auto;
}

/* targets all the elements under the border */
.border > div {
  /* background-color: var(--blue-munsell); */
  height: auto;
  color: var(--black-chocolate);
  /* min-width: 320px; */
  min-width: fit-content;
  margin: auto;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

}



/* Tablet Design [hamburger] */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.hamburger {
  overflow: hidden;
  position: relative;
  display: none; 
  }
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--medium-champagne);
  color: var(--rich-black);
  text-align: center;
  transform: rotateY(180deg);
  font-size: 1.3rem;
}
}


/* end DEBUGGING */